// root font size
html {
  font-size: 17px;
}

// colors
$teal: #338275;
$green: #58813c;
$grey: #736157;
$orange: #cd4c21;
$lightblue: #007db1;
$navy: #243c54;
$purple: #683872;
$red: #dc192a;

// container and tear dimensions
$c_width: 520px;
$c_height: 450px;
$tear_width: 140px;
$tear_height: 140px;

// animations
@mixin shift($directionX, $directionY, $xVal, $yVal) {
  #{$directionX}: $xVal;
  #{$directionY}: $yVal;
  transition: all 0.4s;
}

@keyframes fade {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

// Text inserted via JavaScript
p.tear-label {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

p#greyLabel {
  transform: rotate(203deg);
}

p#orangeLabel {
  transform: rotate(158deg);
}

p#redLabel {
  transform: rotate(111deg);
}

p#purpleLabel {
  transform: rotate(67deg);
  font-size: 1rem;
}

p#navyLabel {
  transform: rotate(24deg);
}

p#lightblueLabel {
  transform: rotate(-22deg);
  font-size: 1.1rem;
}

p#tealLabel {
  transform: rotate(-67deg);
}

p#greenLabel {
  transform: rotate(-113deg);
}

// icon properties

img#lightbulb {
  transform: rotate(203deg);
  width: auto;
  height: 75px;
}

img#microscope {
  height: 70px;
  width: auto;
  transform: rotate(112deg);
}

img#checklist {
  width: auto;
  height: 60px;
  transform: rotate(67deg);
}

img#circle {
  width: 70px;
  height: auto;
  transform: rotate(158deg);
}

img#money {
  height: 70px;
  width: auto;
  transform: rotate(25deg);
}

img#pencil {
  width: auto;
  height: 70px;
  transform: rotate(-30deg);
}

img#head {
  width: auto;
  height: 70px;
  transform: rotate(-67deg);
}

img#linechart {
  width: 65px;
  height: auto;
  transform: rotate(-111deg);
}
.container {
  position: relative;
  width: $c_width;
  height: $c_height;
  // border: solid black;
}

.tear {
  visibility: hidden;
  position: absolute;
  height: $tear_height;
  width: $tear_width;
  border-radius: 100% 0% 80% 20% / 80% 0% 100% 20%;
  transition-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
  display: grid;
  place-items: center;
}

.tear:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition-duration: 0.4s;
}

#grey {
  background-color: $grey;
  transform: rotate(157deg);
  right: 130px;
  top: 11px;
  animation: fade linear 0.3s 0.6s forwards;
}

#orange {
  background-color: $orange;
  right: 41.6px;
  top: 91px;
  transform: rotate(-158deg);
  animation: fade linear 0.3s 0.9s forwards;
}

#red {
  background-color: $red;
  bottom: 91px;
  right: 41.6px;
  transform: rotate(-112deg);
  animation: fade linear 0.3s 1.2s forwards;
}

#purple {
  background-color: $purple;
  right: 130px;
  bottom: 11px;
  transform: rotate(-67deg);
  animation: fade linear 0.3s 1.5s forwards;
}

#navy {
  background-color: $navy;
  left: 130px;
  bottom: 11px;
  transform: rotate(336deg);
  animation: fade linear 0.3s 1.8s forwards;
}

#lightblue {
  background-color: $lightblue;
  left: 41.6px;
  bottom: 91px;
  transform: rotate(22deg);
  animation: fade linear 0.3s 2.1s forwards;
}

#teal {
  background-color: $teal;
  left: 41.6px;
  top: 91px;
  transform: rotate(67deg);
  animation: fade linear 0.3s 2.4s forwards;
}

#green {
  background-color: $green;
  transform: rotate(-248deg);
  left: 130px;
  top: 11px;
  animation: fade linear 0.3s 2.7s forwards;
}

// enables hover animation only for this viewport
@media (min-width: 769px) {
  #grey:hover {
    @include shift(right, top, 125px, -2px);
  }
  #orange:hover {
    @include shift(right, top, 30px, 86px);
  }
  #red:hover {
    @include shift(right, bottom, 30px, 86px);
  }
  #purple:hover {
    @include shift(right, bottom, 125px, -2px);
  }
  #navy:hover {
    @include shift(left, bottom, 125px, -2px);
  }
  #lightblue:hover {
    @include shift(left, bottom, 30px, 86px);
  }
  #teal:hover {
    @include shift(left, top, 30px, 86px);
  }
  #green:hover {
    @include shift(left, top, 125px, -2px);
  }
}

@media (min-width: 481px) and (max-width: 674px) {
  .container {
    width: calc(#{$c_width} * 1.14);
    height: calc(#{$c_height} * 1.14);
  }
  .tear {
    height: calc(#{$tear_height} * 1.14);
    width: calc(#{$tear_width} * 1.14);
  }

  // font sizing

  p.tear-label {
    font-size: 1.2rem;
  }

  p#purpleLabel {
    font-size: 1.14rem;
  }

  // tear absolute positioning

  #grey {
    right: calc(130px * 1.14);
    top: calc(11px * 1.14);
  }

  #orange {
    right: calc(41.6px * 1.14);
    top: calc(91px * 1.14);
  }

  #red {
    bottom: calc(91px * 1.14);
    right: calc(41.6px * 1.14);
  }

  #purple {
    right: calc(130px * 1.14);
    bottom: calc(11px * 1.14);
  }

  #navy {
    left: calc(130px * 1.14);
    bottom: calc(11px * 1.14);
  }

  #lightblue {
    left: calc(41.6px * 1.14);
    bottom: calc(91px * 1.14);
  }

  #teal {
    left: calc(41.6px * 1.14);
    top: calc(91px * 1.14);
  }

  #green {
    left: calc(130px * 1.14);
    top: calc(11px * 1.14);
  }

  img#lightbulb {
    width: auto;
    height: calc(75px * 1.14);
  }

  img#microscope {
    height: calc(70px * 1.14);
    width: auto;
  }

  img#checklist {
    width: auto;
    height: calc(60px * 1.14);
  }

  img#circle {
    width: calc(70px * 1.14);
    height: auto;
  }

  img#money {
    height: calc(70px * 1.14);
    width: auto;
  }

  img#pencil {
    width: auto;
    height: calc(70px * 1.14);
  }

  img#head {
    width: auto;
    height: calc(70px * 1.14);
  }

  img#linechart {
    width: calc(65px * 1.14);
    height: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: calc(#{$c_width} * 0.67);
    height: calc(#{$c_height} * 0.67);
  }
  .tear {
    height: calc(#{$tear_height} * 0.67);
    width: calc(#{$tear_width} * 0.67);
  }

  // font sizing
  p.tear-label {
    font-size: 0.8rem;
  }

  p#purpleLabel {
    font-size: 0.7rem;
  }

  p#lightblueLabel {
    font-size: 0.75rem;
  }

  // tear absolute positioning

  #grey {
    right: calc(130px * 0.67);
    top: calc(11px * 0.67);
  }

  #orange {
    right: calc(41.6px * 0.67);
    top: calc(91px * 0.67);
  }

  #red {
    bottom: calc(91px * 0.67);
    right: calc(41.6px * 0.67);
  }

  #purple {
    right: calc(130px * 0.67);
    bottom: calc(11px * 0.67);
  }

  #navy {
    left: calc(130px * 0.67);
    bottom: calc(11px * 0.67);
  }

  #lightblue {
    left: calc(41.6px * 0.67);
    bottom: calc(91px * 0.67);
  }

  #teal {
    left: calc(41.6px * 0.67);
    top: calc(91px * 0.67);
  }

  #green {
    left: calc(130px * 0.67);
    top: calc(11px * 0.67);
  }

  img#lightbulb {
    width: auto;
    height: calc(75px * 0.67);
  }

  img#microscope {
    height: calc(70px * 0.67);
    width: auto;
  }

  img#checklist {
    width: auto;
    height: calc(60px * 0.67);
  }

  img#circle {
    width: calc(70px * 0.67);
    height: auto;
  }

  img#money {
    height: calc(70px * 0.67);
    width: auto;
  }

  img#pencil {
    width: auto;
    height: calc(70px * 0.67);
  }

  img#head {
    width: auto;
    height: calc(70px * 0.67);
  }

  img#linechart {
    width: calc(65px * 0.67);
    height: auto;
  }
}
